mcc: '{{ mcc }}'
mnc: '{{ mnc }}'

nci: '0x000000010'
idLength: 32
tac: {{ tac }}

linkIp: 127.0.0.1
ngapIp: {{ n2_ip_address }}
gtpIp:  {{ n3_ip_address }}

amfConfigs:
  - address: {{ amf_ngap_ip }}
    port: {{ amf_ngap_port }}

slices:
  - sst: {{ sst }}
    sd: {{ sd }}

ignoreStreamIds: true
